:8443 {
	handle /todo {
		redir /todo/ permanent
	}

	handle_path /todo/* {
		reverse_proxy localhost:3001
	}

	# Vite dev server assets requested from /todo/ pages
	@vite_assets {
		path /@vite/* /@react-refresh /@fs/* /src/* /node_modules/* /manifest.json /vite.svg /api/*
	}
	handle @vite_assets {
		reverse_proxy localhost:3001
	}
}
